.grid-container{
    display:grid;
}
.column {
    /* 
    columns ที่ 1 กินพื้นที่ไป 1:5 
    columns ที่ 2 กินพื้นที่ไป 2:5 
    columns ที่ 3 กินพื้นที่ไป 2:5 
    grid-template-columns:1fr 2fr 2fr;
    */
    /* แบบย่อ */
    grid-template-columns: repeat(3,1fr);
    /* กำหนดระยะห่างด้วย gap */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.row {
    /* กำหนดระยะห่างด้วย gap */
    grid-row-gap: 10px;
    grid-template-rows: 1fr 3fr 2fr;
}
.item{
    padding: 3rem;
    border: 1px solid silver;
    background: gray;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: snow;
    
}