.grid-container {
    display: grid;
    font-size: 1.3rem;
    /* 2 column 3 row */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr 1fr;
    /* พื้นที่ header มีขนาด 2 คอลัมน์ 3 แถว อ้างอิงจากค่าที่เซตด้านบน*/
    grid-template-areas:
    'header header'
    /* ตำแหน่งที่ 1 แถวที่ 2 มี sidebar กินพื้นที่อยู่ */
    'sidebar content'
    'footer footer'
    ;
}
.grid-container-2{
    /* แบบลดรูป */
    display: grid;
    font-size: 1.3rem;
    grid-template: 
    /* row */
    'header header' 3fr
    'sidebar content' 10fr
    'footer footer' 2fr
    /* ตำแหน่ง column */
    / 1fr 4fr;
}
.header-item{
    background: blue;
    color: white;
    /* กำหนดชื่อพื้นที่ */
    grid-area: header;
}
.content-item {
    background: rgb(127, 127, 243);
    color: white;
    grid-area: content;
}
.footer-item {
    background: rgb(154, 154, 190);
    color: white;
    grid-area: footer;
}
.sidebar-item {
    background: lightskyblue;
    grid-area: sidebar;
    color: white;
}