a{
    background-color: lightgray;
    font-size: 1.3rem;
}
a[target]{
    background-color: black;
    color: white;
}
a[target="_blank"]{
    background-color: blueviolet;
}
a[target="_self"]{
    background-color: darkblue;
}